# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/

# Cache
.cache/